header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);

    a {
        img {
            margin-top: 4px;
            background-color: white;
            margin-left: 25px;
            width: 100%;
            height: 32px;
        }
    }
    ul {
        li:hover {
            border-radius: 10px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
                radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
            background-blend-mode: multiply, multiply;
        }
    }
    ul {
        li {
            margin-right: 5px;
        }
    }
}
